
#login-form {
    margin-top: 30px;
}

#navbarNav {
    text-align: center;
}


.navbar-toggler-icon {
    color: #FFC898;
}


.navbar-item {
    background-color: #FFC898;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
}

.navbar-brand{
    /*color: #FFC898;*/
    color: #F9F3DF;
}

.navbar-expand-lg {
    background-color: #B91646;
}

.nav-link{
    color: #F9F3DF;
}

.welcome-banner {
    /*border: 3px solid #B91646;*/
    max-width: 60%;
    background-color: #FFC898;
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}

.login-banner, .register-banner {
    max-width: 60%;
    background-color: #FFC898;
    padding: 10px;
}

.blog-background {
    margin-top: 25px;
    background-color:#FFC898;
}

.button-list {
    text-align: left;
    margin-left: 10px;
}

.blog-anchor .blog:hover-anchor {
    color:white;
    text-decoration: none;
}

.home-buttons, .home-buttons:hover {
    color: white;
    text-decoration: none;
}


.greeting, .info-message {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 10px;
}

.retry-message {
    text-align: center;
    margin-top: 100px;
}

.greeting{
    color: #B91646;
}

.page-form {
    max-width: 500px;
}


.login-submit {
    margin-top: 15px;
}