{% extends "base.html" %}
{% block content %}

    <div class="container welcome-banner">
        <div class="hero-unit col-md-8 offset-md-2">
            <h1 class="greeting">Hello future member,</h1>
            <h3 class="info-message">This is a sample blog site, made by me miloshIra,<br> my information should be on the navbar,</h3>
            <form class="button-list" id="welcome-form" action="/logout">
                {% if not session %}
                <button type="submit" class="btn btn-success login-submit"><a class="home-buttons" href="/login">Login</a></button>
                <button type="submit" class="btn btn-success login-submit"><a class="home-buttons" href="/register">Register</a></button>
                <button type="submit" class="btn btn-success login-submit"><a class="home-buttons" href="/">Help</a></button>
                {% else %}
                <button type="submit" class="btn btn-success login-submit"><a class="home-buttons" href="/login">Read Blogs</a></button>
                <button type="submit" class="btn btn-success login-submit"><a class="home-buttons" href="/register">My blogs</a></button>
                <button type="submit" class="btn btn-success login-submit"><a class="home-buttons" href="/blogs/new">New blog</a></button>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}