{% extends "base.html" %}
{% block content %}



<form method="post">
  <div class="form-group d-flex justify-content-center">
      <label id="photo-input-message">Please choose a photo you want to split|crop   </label><label id=photo for="photo-input">Choose Photo</label>
    <input type="file" class="photo-input-form" id="photo-input" accept="image/jpeg, image/png" name="image">
  </div>
    <center>
</form>
<form method="get" action="/split"> <button>Split</button>
</form>
 </center>
{% endblock %}
