{% extends "base.html" %}

{% block content %}

<div class="content-main">
    <div class="row">
      <div class="col-sm-6 border-line">
            <h5 class="left-side">You can use our service as a:</h5>
          <br>
          <a class="anchor-buttons" href="/home"><h3 class="left-button">Guest</h3></a>

      </div>
      <div class="col-sm-6">
          <h5 class="right-side">Or you can use it and, <br> help us keep track by:</h5>
          <a class="anchor-buttons" href="/login"><h3>Login</h3></a> <h5>or</h5> <a class="anchor-buttons" href="/register"><h3>Registering</h3></a>
      </div>


</div>
</div>

{% endblock %}