{% extends "base.html" %}

{% block content %}

<div class="content-main">
    <div class="row">
      <div class="col-sm-6 border-line">
            <h5 class="left-side">You can use our service as a:</h5>
          <br>
          <a class="anchor-buttons" href="/home"><h3 class="left-button">Guest</h3></a>

      </div>
          <div class="col-sm-6 border-line" id="content-mutable-1" style="display:block">
          <h5 class="right-side">Or you can use it and, <br> help us keep track by:</h5>
          <a class="anchor-buttons" href="#login" id="login" onclick="swap_div_login()">
              <h3>Login</h3></a>
              <h5>or</h5>
              <a class="anchor-buttons" href="#register" id="register" onclick="swap_div_register()"><h3>Registering</h3></a>
      </div>
      <div class="col-sm-6 border-line" id="content-mutable-2" style="display:none">
        <h5> Please enter your:  </h5>
          <form class="login-form" action="http://127.0.0.1:1000/">
              <h6><label id="email-label">Email: </label></h6>
              <input type="email">
              <h6><label id="password-label">Password: </label></h6>
              <input type="password">
              <br>
              <input type="submit" class="login-anchor">
          </form>
      </div>
        <div class="col-sm-6 border-line" id="content-mutable-3" style="display:none">
            <h5> Please provide the following:  </h5>
         <form id="register-form" action="auth-register" method="post">
             <h6><label id="username-label" >Username: </label></h6>
              <input type="text" id="username" name="username">
              <h6><label id="email-label-reg">Email: </label></h6>
              <input type="email" id="email" name="email">
              <h6><label id="password-label-reg">Password: </label></h6>
              <input type="password" id="password" name="password">
             <br>
             <button type="submit" class="reg-button">Register</button>
          </form>
        </div>
</div>
</div>

{% endblock %}