
/* This is a damn comment yoooo */

/* selected tag{
  property: value;

} */

h1 {
  color: purple;

}

li{
  color: rgb(250,81,150);
}

p{
  color: #00e1ff;
}

h4{
  color: rgba(200,50,100,0.6)
}
