{% extends "base.html" %}
{% block content %}

<center>

    <br>
    <br>
    <br>
<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border shadow p-3 mb-5 rounded">

   <form class="form-pass" action="/reset-password" method="post">
       <p class="text-muted mt-2 mb-5">Внесете го вашиот емаил за да ви пратиме линк за ресетирење на лозинката:</p>

       <input type="email" class="form-pass text-center" id="exampleInputEmail1" name="email" required="">
<!--              <input type="email" name="email" required>-->
       <br>
       <button type="submit" class="btn btn-theme">Поднеси</button>
   </form>
            </div>
        </div>
    </div>
</div>


</center>

{% endblock %}
