{% extends "base.html" %}
{% block content %}

<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card border shadow p-3 mb-5 rounded">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="p-5 border">


                                <h5>Вашата идеа е: </h5>

                                <br>

                                <h4> {{ idea.name }}</h4>
                                <br>
                                <ul>
                                    <!--    This is where we should list ingredients from the idea object we get from the database -->
                                    {% for item in idea.ingredients %}
                                    <li>{{ item }}</li>
                                    {% endfor %}

                                    <!--    <li> 500g Pasta</li>-->

                                </ul>
                                <br>


                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="idea-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <div class="p-5 border">
<!--                                        <img class="meal-image" src="img_girl.jpg" alt="Photo of the meal" width="500"-->
<!--                                             height="600">-->
                                        <!--    This is where we should have an image of the object we get from the database -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <center>


                </center>

                <br>

                <h6 class="text-muted mt-2 mb-5">Не ми се допаѓа <a href="/idea/">Идеата</a>, Предложете ми друга</h6>

                <a class="anchor-buttons" href="/user-profile/"><h6>Назад кон профилот</h6></a>

                {% endblock %}
            </div>
        </div>
    </div>
</div>
