{% extends "base.html" %}
{% block content %}


<h3> This is the idea page </h3>
    <br>
    <br>
    <img src="img_girl.jpg" alt="Maybe a photo of the meal" width="500" height="600">
<!--    This is where we should have an image of the object we get from the database -->
    <br>
    <br>
<center
    <ul>
<!--    This is where we should list ingredients from the idea object we get from the database -->
    <li> 200g Meat</li>
    <li> 300g Rise</li>
    <li> 500g Pasta</li>

    </ul>

</center>

    <br>

<h5>Please another <a href="/idea/">Idea</a>, I don't eat this.</h5>

    <br>

<a class="anchor-buttons" href="/user-profile/"><h3>Back to profile</h3></a>

{% endblock %}
