{% extends "base.html" %}
{% block content %}

<center>

<br>
<!--        <h5> Please enter your:  </h5>-->
<!--            <br>-->
<!--          <form class="login-form" action="/auth/login" method="post">-->

<!--              <h6><label id="email-label">Email: </label></h6>-->
<!--              <input type="email" name="email" required>-->
<!--              <h6><label id="password-label">Password: </label></h6>-->
<!--              <input type="password" name="password" required>-->
<!--              <br>-->
<!--              <br>-->
<!--              <h6 class="forgot-pass"><a href="/forgot-password">I forgot</a> my username or/and password? </h6>-->
<!--              <br>-->
<!--              <h6 class="forgot-pass">I need to <a href="/register">register</a>, please.</h6>-->
<!--              <br>-->
<!--              <input type="submit" class="login-anchor">-->
<!--          </form>-->

<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card border shadow p-3 mb-5 rounded">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="p-5 border">


                                <h6 class="h5 mb-0">Здраво</h6>


                                <p class="text-muted mt-2 mb-5">Ве молам внесете ја ваша емаил адреса и лозинка.</p>
                                    <br>

                                <form  class="login-form" action="/auth/login" method="post">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Емаил адреса</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" required>
                                    </div>
                                    <div class="form-group mb-5">
                                        <label for="exampleInputPassword1">Лозинка</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                                    </div>
                                    <button type="submit" class="btn btn-theme">Логирање</button>
                                    <a href="/forgot-password" class="forgot-link float-right text-primary">Ја заборавивте лозинката ?</a>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">За кога навистина веќе не знаете што да зготвите.</h4>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <p class="text-muted text-center mt-3 mb-0">Немате сметка ? <a href="/register" class="text-primary ml-1">Пријавете се.</a></p>

            <!-- end row -->

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>






</center>

{% endblock %}


