{% extends "base.html" %}
{% block content %}

<center>

    <br>


  <form method="post" action="/new-password" enctype="multipart/form-data">
  <div class="form-group" >
      <input type="hidden" name="email" value= {{ email }} >
      <h5>Please enter your new password: </h5>
      <input class="password-field" type="password" name="new_password_once">
      <br>
      <br>
      <h5>Confirm the password: </h5>
    <input class="password-field" type="password" name="new_password_twice">
  </div>
      <br>
        <input type="submit" value="change password" />

    </form>

</center>

{% endblock %}
