{% extends "base.html" %}
{% block content %}

<center>

    <br>
    <br>


    <form class="change-password" action="/change-password" method="post">
              <h6><label id="email-label">We have send you an email with the reset code, please see you email and type in the code: </label></h6>

       <br>
              <input type="text" name="token">
        <input type="hidden" name="email" value= {{ email }} >
       <input type="submit" value="Check code" >

    </form>

</center>

{% endblock %}
