

.content {
    margin: auto;
    width: 50%;
}

.greeting {
    text-align: center;
    margin-top: 150px;
    margin-left: 20px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

body {
            background-image:url("asd.jpg");
         }

.row {
  border: 4px;
  border-style: solid;
  border-color: #e8e7e7;
  padding-top: 15px;
  padding-bot: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}


.education {
    text-align: center;
}

.profile-photo {
    margin-top: 30px;
    margin-right: 10px;
    float: center;
    width: 100%;
    height: 420px;
}

.icon {
    color: grey;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 32px;
}


.tablinks, .tablinks:hover {
    color: black;
}

.tabcontent {
    margin-top: 20px;
    margin-left: 10px;
}

.software-tab-title, .mechanical-tab-title {
    text-align: center;
}

.software-story {
    text-align: center;
    margin-top: 15px;

}

.mechanical-story {
    text-align: center;
    margin-top: 15px;
}

.goals-story, .quote {
    text-align: center;
    margin-top: 50px;
}

.author {
    text-align: end;
}

.project-tab-title {
    margin-bottom: 25px;
}